# Requirements.txt contains a list of dependencies for the Python Application #

# Mandatory Lithops packages
gunicorn
flask
pika
ibm-cloud-sdk-core
ibm-cos-sdk
ibm-vpc
ibm-code-engine-sdk
kubernetes
redis
gevent
requests
PyYAML
numpy
cloudpickle
ps-mem
tblib
psutil

# Optional packages (add your packages below)
#scikit-learn
#diskcache
#pandas
