# Requirements.txt contains a list of dependencies for the Python Application #

# Mandatory Lithops packages
oss2
pika
flask
gevent
redis
requests
PyYAML
kubernetes
numpy
cloudpickle
ps-mem
tblib
psutil

# Optional packages (Add your packages below)
#pandas
#matplotlib