# Requirements.txt contains a list of dependencies for the Python Application #

# Mandatory Lithops packages
flask
pika
boto3
ibm-cloud-sdk-core
ibm-cos-sdk
scikit-learn
diskcache
redis
gevent
requests
PyYAML
numpy
cloudpickle
ps-mem
tblib
psutil

# Optional packages (Add your packages below)

# default available packages for python3
beautifulsoup4
httplib2
#kafka_python
lxml
python-dateutil
scrapy
simplejson
#virtualenv
Twisted
PyJWT

# packages for numerics
scipy
pandas

# packages for image processing
#Pillow

# IBM specific python modules
#ibm_db
#cloudant
#watson-developer-cloud
#ibmcloudsql
#ibm-vpc

# Compose Libs
#psycopg2-binary
#pymongo
#elasticsearch
#etcd3
