# Requirements.txt contains a list of dependencies for the Python Application #

# Mandatory Lithops packages
flask
pika
boto3
ibm-cloud-sdk-core
ibm-cos-sdk
scikit-learn
diskcache
redis
gevent
requests
PyYAML
numpy
cloudpickle
ps-mem
tblib
psutil

# Optional packages (Add your packages below)
#pandas