# Requirements.txt contains a list of dependencies for the Python Application #

# Mandatory Lithops packages
azure-functions
azure-storage-blob
azure-storage-queue
pika
flask
gevent
numpy
redis
requests
PyYAML
kubernetes
cloudpickle
ps-mem
tblib
psutil

# Optional packages (Add your packages below)
#pandas
#matplotlib