# Requirements.txt contains a list of dependencies for the Python Application #

# Setup modules
gevent == 1.2.2
flask == 0.12.2

# default available packages for python3action
beautifulsoup4 == 4.6.0
httplib2 == 0.10.3
kafka_python == 1.3.5
lxml == 4.1.1
python-dateutil == 2.6.1
requests == 2.18.4
scrapy == 1.5.0
simplejson == 3.13.2
virtualenv == 15.1.0
twisted == 17.9.0.
tqdm == 4.19.5
ibm-cos-sdk == 2.0.1
